{% extends "base.html" %}
{% block extra_head %}
    <script>
        (function($){
          $(function(){
            window.addEventListener("popstate", function(e) {
                loadUrl(document.location.href);
            });
          }); // end of document ready
        })(jQuery); // end of jQuery name space
    </script>
{% endblock %}
{% block body %}
    <body id="body">
        <div class="login-wrapper">
            <div class="text-center">
                <h2 class="fadeInUp animation-delay8" style="font-weight:bold">
                    {% if settings.logo %}<img id="login-icon" src="/media/{{ settings.logo }}" alt="Logotipo de {{ settings.initials }}" />{% endif %}
                    <span class="text-shadow-white">{{ empresa.nome }}</span>
                </h2>
            </div>
            <div class="login-widget animation-delay1">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <i class="fa fa-lock fa-lg"></i> Acesso ao Sistema
                        </div>
                    </div>
                    <div class="panel-body">

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}

                        <form id="form" method="POST" action="" class="ajax-form">
                            <input type="hidden" id="id_username" name="username" value="{{ sigla }}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Senha</label>
                                <input type="password" id="id_password" name="password" placeholder="Senha" class="form-control input-sm bounceIn animation-delay4">
                                {{ form.username.errors }}
                            </div>

                            <hr/>

                            <button class="btn btn-success btn-sm bounceIn animation-delay5 pull-right" type="submit"><i class="fa fa-sign-in"></i> Acessar</button>
                        </form>
                    </div>
                </div><!-- /panel -->
            </div><!-- /login-widget -->
        </div><!-- /login-wrapper -->
    </body>
{% endblock %}