{% extends "admin.html" %}
{% block content %}
    <div class="padding-md">

        {{ form  }}

        <div class="row">
            <div class="col-lg-12">
                {{ chart }}
            </div>
            <div class="col-lg-12">
                {{ t1 }}
            </div>
            <div class="col-lg-12">
                {{ t2 }}
            </div>
            <div class="col-lg-12">
                {{ t2.bar_chart }}
            </div>
        </div>
    </div>
{% endblock %}