{% extends "relatorio.html" %}

{% block content %}
<h2 class="text-center">Ordem de Produção {{ numero }}</h2>
<h3>Dados Gerais</h3>
<table>
    <tr>
        <td><dl><dt>Produto</dt><dd>{{ obj.formulacao.descricao|format }}</dd></dl></td>
        <td><dl><dt>Quantidade</dt><dd>{{ obj.quantidade|format }}</dd></dl></td>
        <td><dl><dt>Data</dt><dd>{{ obj.data|format }}</dd></dl></td>
    </tr>
    <tr>
        <td><dl><dt>Peso Total Bruto</dt><dd>{{ obj.peso_bruto|format }}</dd></dl></td>
        <td><dl><dt>Peso Total Líquido</dt><dd>{{ obj.peso_liquido|format }}</dd></dl></td>
        <td><dl><dt>Peso da Unidade</dt><dd>{{ obj.formulacao.unidades_produzidas|format }}</dd></dl></td>
    </tr>
    <!--
    <tr>
        <td><dl><dt>Custo por Kg</dt><dd>{{ obj.get_custo_por_kg|format }}</dd></dl></td>
        <td><dl><dt>Cursto por Unidade</dt><dd>{{ obj.get_custo_unitario|format }}</dd></dl></td>
    </tr>
    -->
</table>

{% for titulo, qs in items %}
    {% if qs.exists %}
    <h3>{{ titulo }}</h3>
    <table class="table">
        <tr>
            <th width="50px">#</th>
            <th>Indrediente</th>
            <!--<th>Percentual (%)</th>-->
            <th width="150px">Peso (Kg)</th>
            <!--<th>Custo (R$)</th>-->
        </tr>
        {% for item in qs %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.ingrediente }}</td>
            <!--<td align="right">{{ item.percentual }}</td>-->
            <td align="right">{{ item.quantidade|format }}</td>
            <!--<td align="right">{{ item.custo|format  }}</td>-->
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endfor %}
{% endblock %}