{% extends "admin.html" %}
{% block content %}
    <div class="padding-md">
        <div class="row">
            <div class="col-lg-12">
                <h2>Painel de Controle</h2>
            </div>
        </div>
    </div>
{% endblock %}
