{% extends "report.html" %}

{% block header %}
    <table>
        <tr>
            <td><h1>{{ empresa }}</h1></td>
        </tr>
        <tr>
            <td>CNPJ: {{ empresa.cnpj }}</td>
        </tr>
        <tr>
            <td>E-mail: {{ empresa.email }}</td>
        </tr>
        <tr>
            <td>Telefones: {{ empresa.telefone_principal }} {{ empresa.telefone_secundario }}</td>
        </tr>
        <tr>
            <td>Endereço: {{ empresa.endereco }}</td>
        </tr>
    </table>
{% endblock %}

{% block content %}

{% endblock %}